<%- include('partials/header')%>
   
    <main id="home" class="container">
        <div class="col">
            <p><b>stoke</b> helps you to properly manage your stocks <br> all in one place.</p>
            <a href="/products">View products</a>
        </div>
        <div class="col">
            <img src="/assets/inventory.jpg" alt="">
        </div>
    </main>

<%- include('partials/footer') %>